<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        img {
            float: left;
            margin-right: 1rem;
        }

        .personne {
            clear: left;
            padding: 1rem;
        }

        input[type="checkbox"],
        select {
            margin-right: 1rem;
        }

        .misEnForme {
            background: #e0ffff;
            font-family: georgia;
            font-size: 1.2rem;
            margin: 1rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="filtreNom">
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            Homme <input type="checkbox" v-model="homme">
            Femme <input type="checkbox" v-model="femme">
            Téléphone <input type="checkbox" v-model="tel">
            Photo
            <select v-model="taille">
                <option value="1">Petit</option>
                <option value="2" selected>Moyen</option>
                <option value="3">Grand</option>
            </select>
            Mise en forme <input type="checkbox" v-model="mef">
        </fieldset>
        <div class="personne" v-for="p in personnes" :key="p.name.first + p.name.last" :class="{'misEnForme':mef}">
            <div v-if="(((homme && p.name.title == 'Mr') || (femme && p.name.title == 'Mrs')) &&
                        (p.name.last.toLowerCase().indexOf(filtreNom.toLowerCase()) >= 0 || filtreNom == ''||
                        (p.name.first.toLowerCase().indexOf(filtreNom.toLowerCase()) >= 0 || filtreNom == '')))">
                <img :src="p.picture.thumbnail" alt="photo de profil" v-if="taille == 1" >
                <img :src="p.picture.medium" alt="photo moyen format" v-if="taille == 2" >
                <img :src="p.picture.large" alt="photo grand format" v-if="taille == 3" >
                {{ p.name.title }} {{ p.name.first }} {{ p.name.last }}<br>
                {{ p.location.country }}
                <div v-if="tel && p.showContactInfo">{{ p.phone }} </div><div v-if="p.showContactInfo">{{ p.email }}</div><br>
                <button @click="toggleContactInfo(p)">Afficher/Masquer les contacts</button>
            </div>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    homme: true,
                    femme: true,
                    tel: true,
                    mef: false,
                    taille: 2,
                    filtreNom: '',
                    personnes: [
                        {
                            "gender": "female",
                            "name": {
                                "title": "Mrs",
                                "first": "Elizabeth",
                                "last": "Ambrose"
                            },
                            "location": {
                                "country": "Canada"
                            },
                            "phone": "366-033-8063",
                            "email": "elizabeth.ambrose@example.com",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/women/49.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/women/49.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/women/49.jpg"
                            },
                            "showContactInfo": false
                        },
                        {
                            "gender": "male",
                            "name": {
                                "title": "Mr",
                                "first": "Batista",
                                "last": "Silveira"
                            },
                            "location": {
                                "country": "Brazil"
                            },
                            "phone": "(53) 5553-2892",
                            "email": "batista.silveira@example.com",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/men/50.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/men/50.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/50.jpg"
                            },
                            "showContactInfo": false
                        },
                        {
                            "gender": "male",
                            "name": {
                                "title": "Mr",
                                "first": "Blaise",
                                "last": "Adam"
                            },
                            "location": {
                                "country": "Switzerland"
                            },
                            "phone": "079 493 00 77",
                            "email": "blaise.adam@example.com",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/men/29.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/men/29.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/29.jpg"
                            },
                            "showContactInfo": false
                        }
                    ]
                }
            },
            methods: {
                toggleContactInfo(person) {
                    person.showContactInfo = !person.showContactInfo;
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>
